{
    "trailingComma": "all",
    "_comment_trailingComma_": "여러 줄을 사용할 때, 후행 콤마 사용 방식",
    "tabWidth": 4,
    "_comment_tabWidth_": "탭 너비",
    "printWidth": 120,
    "_comment_printWidth_": " 줄 바꿈 할 폭 길이",
    "useTabs": false,
    "_comment_useTabs_": "탭 사용 여부",
    "semi": true,
    "_comment_semi_": "세미콜론 사용 여부",
    "singleQuote": true,
    "_comment_singleQuote_": "문자열 사용 시 작은 따옴표 사용 여부",
    "quoteProps": "as-needed",
    "_comment_quoteProps_": "객체 속성에 대한 문자열 사용 방식",
    "bracketSpacing": true,
    "_comment_bracketSpacing_": "객체 리터럴에서 괄호에 공백 삽입 여부",
    "arrowParens": "avoid",
    "_comment_arrowParens_": "화살표 함수 매개변수에 대한 괄호 사용 방식",
    "bracketSameLine": false,
    "_comment_bracketSameLine_": "객체 리터럴에서 괄호 사용 위치",
    "endOfLine": "auto",
    "_comment_endOfLine_": "줄 바꿈 문자 사용 방식",
    "plugins": ["prettier-plugin-tailwindcss"],
    "_comment_plugins_": "prettier-plugin-tailwindcss 플러그인 사용 여부"
}
